#!/bin/sh

echo ""
echo "### INSTALL BREW ###"
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew bundle install --global # {{ include "dot_Brewfile" | sha256sum }}
