#!/bin/bash

echo ""
echo "### BREW POST-INSTALL ###"

echo "# Set-up fzf bindings"
yes | /home/linuxbrew/.linuxbrew/opt/fzf/install

echo "# Install broot alias"
broot --print-shell-function fish >~/.config/fish/functions/br.fish

echo "# Set fish as the default shell"
echo /home/linuxbrew/.linuxbrew/bin/fish | sudo tee -a /etc/shells
chsh -s /home/linuxbrew/.linuxbrew/bin/fish

echo "# Install fundle"
curl -sL https://git.io/fundle-install | fish
