#!/bin/bash

echo
echo "### INSTALL MISE PLUGINS ###"

if [[ $(uname) == "Darwin" ]]; then
  MISE_PATH="/opt/homebrew/bin/mise"
else
  MISE_PATH="/home/linuxbrew/.linuxbrew/bin/mise"
fi

$MISE_PATH up  # {{ include "dot_config/mise/config.toml" | sha256sum }}
