#!/bin/bash

echo ""
echo "### BREW POST-INSTALL ###"
# {{ include ".brew/Brewfile" | sha256sum }}

echo "# Set-up fzf bindings"
yes | /home/linuxbrew/.linuxbrew/opt/fzf/install

echo "# Install broot alias"
broot --print-shell-function fish >~/.config/fish/functions/br.fish

echo "# Set fish as the default shell"
chsh -s /home/linuxbrew/.linuxbrew/bin/fish
