# Common
brew "bat"
brew "chezmoi"
brew "clipboard"
brew "direnv"
brew "eza"
brew "fd"
brew "fish"
brew "foreman"
brew "fzf"
brew "grc"
brew "hexyl"
brew "htop"
brew "httpie"
brew "magic-wormhole"
brew "mcfly"
brew "micro"
brew "mise"
brew "ranger"
brew "ripgrep"
brew "starship"
brew "tldr"
brew "viu"
brew "zoxide"
tap "peterldowns/tap"
brew "peterldowns/tap/localias"
tap "teamookla/speedtest"
brew "teamookla/speedtest/speedtest"

# Data
brew "dasel"
brew "fq"
brew "gron"
brew "htmlq"
brew "jc"
brew "jo"
brew "jq"
brew "yq"

# Git
brew "gh"
brew "ghq"
brew "git-interactive-rebase-tool"
brew "gitbatch"
brew "glab"
brew "lazygit"
brew "ungit"

# DevOps
brew "hadolint"
brew "helm"
brew "kubernetes-cli"
brew "kubectx"
brew "lazydocker"

# Python
brew "pipx"

{{- if eq .chezmoi.os "darwin" -}}

# Casks
cask "boop"
cask "caffeine"
cask "hoppscotch"
cask "iterm2"
cask "jetbrains-toolbox"
cask "karabiner-elements"
cask "latest"
cask "mark-text"
cask "meetingbar"
cask "monitorcontrol"
cask "mos"
cask "rancher"
cask "shottr"
cask "ukelele"
cask "visual-studio-code"

{{- end -}}
