# Utilities
brew "clipboard"
brew "fd"
brew "fzf"
brew "hexyl"
brew "htop"
brew "httpie"
brew "magic-wormhole"
brew "micro"
brew "ripgrep"
brew "speedtest-cli"

# Shell
brew "bat"
brew "chafa"
brew "eza"
brew "fish"
brew "grc"
brew "starship"
brew "zoxide"

# Data
brew "dasel"
brew "fq"
brew "gron"
brew "htmlq"
brew "jc"
brew "jo"
brew "jq"
brew "yq"

# Git
brew "gh"
brew "ghq"
brew "git-absorb"
brew "git-delta"
brew "git-interactive-rebase-tool"
brew "ungit"

# DevOps
brew "hadolint"
brew "helm"
brew "kubernetes-cli"

# Programming
brew "mise"
brew "uv"

{{- if eq .chezmoi.os "darwin" -}}

# Docker
brew "colima"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "docker-credential-helper"
brew "docker-completion"

# Casks
cask "ghostty"
cask "hoppscotch"
cask "jetbrains-toolbox"
cask "karabiner-elements"
cask "meetingbar"
cask "monitorcontrol"
cask "mos"
cask "shottr"
cask "visual-studio-code"

{{- end -}}
